@import './variables.scss';

.svg-inline--fa {
    font-size: $size-xl;
    color: inherit;
    transition: all .05s linear;
}

.svg-inline--fa:hover{
    filter: drop-shadow(0px 0px 7px rgba(195, 206, 221, 0.89)) 
}