/* Colors */
$black: rgb(24, 24, 24);
$white: white;

$text-primary:$white;

/* Spacings */
$spacing-xxs: .25rem;
$spacing-xs: .5rem;
$spacing-sm: .75rem;
$spacing-md: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;

/* Font Size */
$size-xxs: .5rem;
$size-xs: .75rem;
$size-sm: .95rem;
$size-md: 1rem;
$size-lg: 1.25rem;
$size-xl: 1.5rem;
$size-xxl: 2rem;
